.song-div-info{
    position: absolute; 
    font-family: 'Amatic SC',cursive;
    font-size: 25px;
    left: 130px;
}

ion-item.button-favorite{
    --background: transparent;
    --box-shadow: none !important;
    --inner-padding-bottom: 0; 
}

ion-icon.icon-favorite {
    color: red;
    font-size: 30px;
    bottom: 16px; 
}

ion-icon.icon-finished{
    color:gold;
    font-size: 30px;
}

ion-item.song-description {
    margin-left: 15px;
    --background: transparent;
}

ion-card.song-container {
    margin-top: 10px;
    border-radius: 25px;
    --background: #1c0c4f80;
    --color: white; 
}

.song-img{
    width: 100px;
    height: 100px; 
    border-radius: 25% ;
}

ion-item.song-buttons {
    position: absolute;
    right: 0; 
    --background: transparent;
    --box-shadow: none !important;
    --inner-padding-end: 8px;

}

ion-card-title.song-title {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: white; 
    font-family: 'Amatic SC',cursive;
    font-size: 30px;
}

.song-div-container {
    display: inline-block;
}

ion-select.soundfont {
    width: 50px;
    font-family: 'Amatic SC',cursive;  
}

ion-button.play {
    width: 70px;
    --background: #1c0c4f;
}

.div-buttons{
    position: relative;
    float: right;
}


ion-select::part(text) {
    font-family: 'Amatic SC',cursive;  
    font-size: 25px;
}