.avatar-login-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    padding: 10px;
}

.footer-image-login{
    border-radius: 10%;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

ion-card-header.card-title {
    margin-left: auto;
    width: 100%;
    font-size: larger;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    text-align: center;
    color:lightblue;
    --background: transparent;
}

ion-card-content.welcome-message {
    margin-left: auto;
    width: 100%;
    font-size: medium;
    font-family: 'Kalam', cursive;
    color: lightblue;
    font-size: 17px;
    padding-left:var(--generalPadding) ;
    --background: transparent;
}

ion-content.login-content {
    --background: transparent; 
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    font-family: 'Kalam';
    font-size: 16px;
}

ion-content.login-background{
    --background: url('../../images/FondoLogin.png')  0 0/270px 486px repeat;  
    background-size: cover;
}

ion-toolbar.login-toolbar {
    --background: transparent; 
}

