ion-content.profile-background {
    --background: url('../../images/FondoLogin.png')  0 0/270px 486px repeat;  
}

ion-toolbar.profile-toolbar {
    --background:transparent;
}

ion-title.profile-title {
    position: absolute; 
    left: calc(50% - 63.5px); 
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    color: white; 
}

ion-menu-button.menu-button-profile{
    position: absolute; 
    left: calc(100% - 50px);
    font-size: 55px;
}

ion-card.profile-card {
    --background: rgba(212, 227, 252, 0.7);
    border-radius: 25px;
}

ion-item.profile-info-container{
    margin-top: 10px;
    border-style: solid;
    border-radius: 25px;
    --inner-padding-end: 0px;
    --padding-start: 1px;
    --background: transparent;
    color:black;
}

ion-item.save-button {
    position: absolute; 
    right: 10px;
    z-index: 2;
    --background: transparent;
    width: 50px;
    height: 50px;
    --inner-padding-end: 0px;
    --padding-start: 7.5px;
    --border-width: 0;
    --inner-border-width: 0;
}

ion-icon.save-icon {
    width: 35px;
    height: 35px;
}


ion-item.current-lesson-item {
    position: relative;
    width: 110%;
    left: -10px;
    --background: transparent;
    margin-top: 10px;
    --border-width: 0;
    --inner-border-width: 0;
    color:black;
    
}

ion-item.achievement-item {
    position: relative;
    width: 110%;
    left: -10px;
    --background: transparent;
    --border-width: 0;
    --inner-border-width: 0;
    color: black;
}

ion-avatar.images {
    background: white;
    width: 65px;
    height: 65px;
}

ion-label.labels {
    position: relative;
    left: 15px;
    font-size: 24px !important;
    font-family: 'Amatic SC', cursive;
}

ion-textarea.description{
    margin-top: 10px;
    --background: transparent;
    --border-radius: 20px;
    --color: blue;
    --placeholder-color: black;
    font-family: 'Kalam', cursive;
    font-size: 20px;
}

ion-grid.profile-grid{
    font-family: 'Amatic SC', cursive;
    color:black;
}

.link-lesson {
    text-decoration: none;
}

.settings-avatar{
    display: block;
    width: 100px; 
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 15px;
}
