ion-item.password-item {
    --background: transparent;
    --ion-font-family: 'Amatic SC', cursive;
    padding-top: 35px;
    font-size: 30px;
    color: lightblue;
}

.recover-error-alert{
    font-weight: bold;
    font-family: 'Kalam', cursive;
    color:crimson;
    font-size: 16px;
}

ion-input.password-input{
    font-family: 'Kalam', cursive;
    font-size: 17px;
    color: white;
}

ion-button.password-button{
    --background: darkorchid;
    --border-radius: 10px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
}