ion-content.song-list {
    --background: url('../../images/FondoBiblioteca.png')0 0/270px 486px repeat;
    --overflow: hidden;
}

ion-toolbar.song-toolbar {
    --background: transparent;
}

ion-menu-button.song-list-menu-button {
    color:white;
    font-size: 55px;
}

.ion-color-light-blue  {
    --ion-color-white: #acc7ed; 
}

ion-title.title-font {
    font-weight: bold;
    font-family: 'Amatic SC',cursive;
    color:white;
    font-size: 35px;
    padding-left: 27px;
    padding-bottom: 15px;
    padding-top: 15px;  
    display: inline-table;  
}

ion-input.library-search-bar {
    --background: white;
    display: inline-table;
    width: 100px;
}

ion-card.songs{
    background: transparent;
}

@media screen and (orientation: portrait) {
    ion-card.songs{
        height: 90%;

    }
}

@media screen and (orientation: landscape) {
    ion-card.songs{
        height: 82%;
    }
}


ion-segment-button {
    max-width: 100px !important;
    color:white;
}

.search-wrapper {
    position: fixed; 
    width: 89.5%; 
    left: 5.5%;
    z-index: 10;
}

ion-button.back-search {
    display: inline-block;
    color: black;
    width: 45px;
    height: 45px;
    --border-radius: 20px;
    font-size: 13px !important;
}

ion-searchbar.input-search {
    top: 5px;
    display: inline-block;
    --background: white;
    color: black;
    --border-radius: 20px;
}

@media screen and (orientation: portrait) {
    ion-searchbar.input-search {
        width: 84%;
    }
}

@media screen and (orientation: landscape) {
    ion-searchbar.input-search {
        width: 91%;
    }
}
