ion-button.submit-button-login{
  --background: darkorchid;
  --border-radius: 10px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  text-align: center;
}

.login-form{
  --padding: var(--generalPadding);
}

ion-item.background{
  --background: transparent;
  --ion-font-family: 'Amatic SC', cursive;
  color: lightblue;
  font-size: 30px;
}

ion-input.input-login{
  --background: transparent;
  font-family: 'Kalam', cursive;
  font-size: 20px;
  color: white;
}

ion-label.label-login{
  font-family: 'Amatic SC', cursive;
  color: lightblue;
  font-size: 25px !important;
}


.alert-img-login {
  display: block;
  width: 50%;
  height: 50%;
  margin-right: auto;
  margin-left: auto;
}

.alert-label-login {
  font-family: "Amatic SC"; 
  font-size: 30px;
  color: #1c0c4f; 
  padding-bottom: 0px;
}

.alert-login .alert-button {
  font-family: 'Kalam', cursive;
  font-size: 25px;
  color: #1c0c4f; 
}

.alert-login .alert-message {
  overflow: hidden;
}