.container {
  position: relative;
  height: 100%;
}

.inner {
  position: absolute;
  width: 100%;
}

.fade-enter,
.fade-appear {
  opacity: 0;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 400ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
