ion-title.header-title{
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
    text-align: center;
    color: lightblue;
}

ion-label.header-message{
    font-weight: bold;
    font-family: 'Kalam', cursive;
    color: lightblue;
    font-size: 18px; 
}

.header-image {
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px; 
    height: 280px; 
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.header-container {
    text-align: center;
}